@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes fade-in {
  from { opacity: 0 }
  to { opacity: 100% }
}

@keyframes fade-in-10 {
  from { opacity: 0 }
  to { opacity: 10% }
}

@keyframes scroll {
  0% {
      transform: translate(0, 0);
  }
  99.9% {
      transform: translate(0, -100%);
  }
  100% {
      transform: translate(0, 100%);
  }
}

body {
  background-color: black;
  overflow-x: hidden;
  overflow-y: hidden; /* Unsure */
}

h1 {
  text-shadow: 0px 0px 10px #7483faaa;
  font-family:"Space Mono", monospace;
  color: #7483fa;
}

.main-header {
  -webkit-user-select: none;     
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  padding: 30px;
  text-align: center;
}

.main-header h1 {
  font-size: 45px;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto; 
  animation: typing 1.5s steps(500, end) forwards;
  animation-delay: 1.5s;
}

.background-shader {
  display: inline;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -100;
  opacity: 0%;
  animation: fade-in-10 1.5s forwards;
}

.previews {
  height: 200%;
  position: absolute;
  padding: 30px 100px;
  z-index: -50;
  overflow:hidden; 
}

.previews img {
  display: block;
  opacity: 0;
  padding: 10px;
  border-radius: 16px;
  border-collapse: separate; 
  animation: fade-in .5s forwards;
  animation-delay: 1.5s;
}